<html lang="en">
  <%- include('includes/header') %>

  <body>
    <div class="parent1">
      <div class="child1">
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-book mb-3" viewBox="0 0 16 16">
          <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
        </svg>
        <h1>Step 2</h1>
        <h2 class="display-5">Retrieve UTXOs</h2>
        <h4><em>If the current balance is not zero, there are available UTXOs pertaining to your address.</em></h4>
        <div class="explanation">
          <p>Click on 'Retrieve Available UTXOs' under the transaction data on the right side module.</p>
        </div>
        <button class="btn btn-outline-white bg-white" data-bs-toggle="modal" data-bs-target="#learn">Read More</button>

        <div class="modal fade" id="learn" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: black">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">What are UTXOs?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>From Mastering Bitcoin by Andreas Antonopoulos: Every bitcoin transaction creates outputs, which are recorded on the bitcoin ledger. Almost all of these outputs, with one exception, create spendable chunks of bitcoin called unspent transaction outputs or UTXO, which are then recognized by the whole network and available for the owner to spend in a future transaction. Sending someone bitcoin is creating an unspent transaction output (UTXO) registered to their address and available for them to spend.</p>
                <p>UTXO are tracked by every full-node bitcoin client in a database held in memory, called the UTXO set or UTXO pool. New transactions consume (spend) one or more of these outputs from the UTXO set.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="child2-1">
        <div class="pubadddata">
          <h1>/Transaction Data</h1>

          <p>
            Your Bitcoin Public Address: <span id="data" style="color: cyan"><strong><%= submittedpubAdd %></strong></span>
          </p>
          <p>
            Current Balance: <span id="currentBalance" style="color: yellow"><strong><%= finalBalance %></strong></span>
          </p>
          <p>
            Number of Transactions: <span style="color: yellow"><strong><%= numOfTXs %></strong></span>
          </p>
          <p>
            Historical Total Received: <span style="color: yellow"><strong><%= totalReceived %></strong></span>
          </p>

          <div id="UTXOorNone" class="retrieveUTXObutton">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <a class="retrieveUTXO" id="GTFO" href="/retrieveUTXO">Retrieve Available UTXOs</a>
          </div>
        </div>
      </div>
    </div>

    <script>
      let currentBalance = document.getElementById("currentBalance")
      if (currentBalance.innerText == 0) {
        document.getElementById("UTXOorNone").insertAdjacentText("afterbegin", "There are no available UTXOs associated with this address.")
        document.getElementById("GTFO").remove()
      }
    </script>
  </body>
  <%- include('includes/footer') %>
</html>
